<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" style="height:100%">
<head>
    <meta charset="UTF-8" />
    <title>403 Forbidden</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="height:100%">
<nav th:replace="fragments/fragment :: navbar('')"></nav>
<div class="container text-center" style="height:100%">
    <div class="row h-100">
        <div class="col-12 my-auto mx-auto">
            <h2>Forbidden</h2>
            <h5>Maaf <span style="color: #e0a800;font-weight: bold;" th:text="${#httpServletRequest.remoteUser}"></span>, fitur ini tidak dapat digunakan oleh role anda.</h5>
            <a th:href="@{/}"> Kembali ke home</a>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>