<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Tambah Cabang</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body id="form-add-user">
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Edit Coupon</h2>
                <br>
                <form th:action="@{/coupon/edit/}+${coupon.idCoupon}+'/'+${useDay}" th:object="${coupon}" method="POST">
                    <input type="hidden" th:field="*{idCoupon}"/>
                    <input type="hidden" th:field="*{listCouponType}"/>
                    <input type="hidden" th:field="*{couponCode}"/>

                    <label>Nama Coupon</label>
                    <input required class="form-control" type="text" name="couponName" th:value="*{couponName}" />
                    <br><br>

                    <label>Expiry Date</label>
                    <input required class="form-control" type="datetime-local" name="expiryDate" th:value="*{expiryDate}"/>
                    <br><br>

                    <label>Discount Amount (in percentage)</label>
                    <input required class="form-control" type="number" name="discountAmount" th:value="*{discountAmount}" />
                    <br><br>

                    <label>Creator</label>
                    <select name="uuid" class="form-control">
                        <option th:each ="user: ${userList}"
                                th:value = "${user.uuid}"
                                th:text = "${user.username}">
                        </option>
                    </select>
                    <br><br>

                    <label>Status</label>
                    <select name="status" th:value="*{status}" class="form-control">
                            <option value="1">Disetujui</option>
                            <option value="0">Ditolak</option>
                    </select>
                    <br><br>


                    <br>
                    <br>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-link" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>

</html>