<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Tambah Cabang</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body id="form-add-user">
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Cabang Baru</h2>
                <br>
                <form th:action="@{/cabang/add}" th:object="${cabang}" method="POST">
                    <label>Nama Cabang</label>
                    <input type="text" name="namaCabang" class="form-control"/>

                    <label>Alamat Cabang</label>
                    <input type="text" name="alamatCabang" class="form-control"/>

                    <label>Nomor Telepon</label>
                    <input type="text" name="noTelpCabang" class="form-control"/>

                    <label>Ukuran Cabang</label>
                    <input type="number" name="ukuranCabang" class="form-control"/>

                    <br>
                    <br>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-link" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>

</html>