<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home</title>
  <head th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/simple-line-icons.min.css}"/>
    <link rel="stylesheet" th:href="@{/fonts/font-awesome.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">

  </head>
  <head th:fragment="js">
    <script
          src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </head>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
  <div class="container"><a class="navbar-brand" href="#">SI-BUSINESS</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link active" href="#">User</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Item</a></li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">Kupon</a>
          <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
        </li>
      </ul><span class="navbar-text actions"> <a class="login" href="#">Log In</a><a class="btn btn-light action-button" role="button" href="#">Sign Up</a></span>
    </div>
  </div>
</nav>
<header class="text-center text-white masthead" id="backdrop">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1>Welcome to</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <h1 class="display-4">SI-BUSINESS</h1>
      </div>
    </div>
  </div>
</header>
<section class="text-center bg-light features-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon"><i class="icon-user m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
          <h3><strong>Tambahkan User</strong><br></h3>
          <p class="lead mb-0">SI-BUSINESS mendukung pembuatan hingga pemberian peran ke user</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon"><i class="icon-tag m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
          <h3>Siapkan Kupon</h3>
          <p class="lead mb-0">Beri impresi baik kepada pelanggan dengan personalisasi kupon</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon"><i class="icon-basket-loaded m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
          <h3>Item</h3>
          <p class="lead mb-0">Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col col-lg-6 my-auto">
        <h2 class="text-center"><strong>Tambahkan User</strong><br></h2>
        <div class="row">
          <div class="col d-flex justify-content-center mt-2"><button class="btn btn-primary" type="button">Button</button></div>
        </div>
      </div>
      <div class="col-lg-6 my-auto order-lg-1 showcase-text">
        <p class="lead text-left mb-0">SI-BUSINESS mendukung pembuatan User, pengubahan User, hingga pemberian peran kepada User</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col col-lg-6 my-auto">
        <h2 class="text-center"><strong>Tambahkan User</strong><br></h2>
        <div class="row">
          <div class="col d-flex justify-content-center mt-2"><button class="btn btn-primary" type="button">Button</button></div>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-0 my-auto order-lg-1 showcase-text">
        <p class="lead text-left mb-0">SI-BUSINESS mendukung pembuatan User, pengubahan User, hingga pemberian peran kepada User</p>
      </div>
    </div>
  </div>
</section>
<section class="text-center bg-light testimonials">
  <div class="container">
    <h2 class="mb-5">Tim Pengembang</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="img/testimonials-2.jpg">
          <h5>Trisetio Putra</h5>
          <p class="font-weight-light mb-0"></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="img/testimonials-2.jpg">
          <h5><strong>Muhammad Halim Susilo</strong><br></h5>
          <p class="font-weight-light mb-0"></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="img/testimonials-2.jpg">
          <h5>Suwandi Kurniawan</h5>
          <p class="font-weight-light mb-0"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-center text-white call-to-action" id="footer-bg">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col"><button class="btn btn-primary btn-block btn-lg justify-content-center" type="submit">Sign up!</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer class="bg-light footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left my-auto h-100">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#">Contact</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">© Brand 2021. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 text-center text-lg-right my-auto h-100">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>

</html>